@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #28282bf2;
  font-family: 'Courier New';
  color: #D2D5D4;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h1 {
  font-size: 3em;
  margin: 0;
  font-family: 'Protest Guerrilla', sans-serif;
  color: #D2D5D4;
}

p {
  margin:0;
  color: #D2D5D4;
}
.bg-dark {
  background-color: #28282bf2;
}

a:hover {
  color: #D2D5D4;
  opacity: 50%;
  transition: ease 200ms;
}

button:hover {
  color: #D2D5D4;
  opacity: 50%;
  transition: ease 200ms;
}

*, ::before, ::after{
  --tw-ring-color: #D2D5D4 !important;
}
