.banner{
  /* height: 20vh; */
  width: 100%;
}

#btn-selection:hover {
  color: #D2D5D4;
  opacity: 50%;
  transition: ease 200ms;
  cursor: pointer;
}

#btn-selection select{
  outline: none;
}

#dropdown:hover {
  cursor: pointer;
}

.bg-dark1 {
  background-color: #323235
}
